body {
	font-family: Verdana;
	font-size: 14px;
	margin: 0;
}

#container {
	margin: 0 auto;
	width: auto%;
}

#header {
	height: 60px;
	background: #9c6;
	margin-bottom: 5px;
}

#mainContent {
	height: 500px;
	margin-bottom: 5px;
}

#sidebar {
	float: right;
	width: 380px;
	height: auto;
	background: #fff;
}

#content {
	margin-right: 205px !important;
	margin-right: 202px;
	height: 500px;
	background: #ffa;
}