@charset "gb2312";
/* CSS Document */
.lang a, .vc-top .top-r a.calendar, .vc-top .top-r a.cart, .down, .vc-serachbar-t .btn{ background:url(../images/top_all.png) no-repeat}
.vc-top{ height:30px; background:#378a7c;}
.vc-wrap{ width:1200px; margin:0 auto;}
.vc-w980{ width:1200px; margin:0 auto;}
.lang a{ float:left; width:21px; height:30px; margin-right:7px; font:500 12px/30px SimSun; color:#b5fff3; text-align:center; background-position: 0 -41px}
.lang a.on{ color:#366;background-position: 0 4px}
.lang a.on:hover{ text-decoration:none;}
.vc-top .fav{ float:left; width:35px; height:30px; padding-left:22px; font:500 12px/30px SimSun; color:#b6fff3; background:#359a89 url(../images/top_all.png) no-repeat 7px -80px;}
.vc-top .fav:hover{ text-shadow:0 0 3px #000; text-decoration:none;} 
.vc-top .top-r em,.vc-top .top-r a{ float:left; font:500 12px/30px SimSun; color:#b6fff3; margin:0 10px;}
.vc-top .top-r a:hover{ text-shadow:0 0 3px #000; text-decoration:none;}
.vc-top .top-r a.calendar{ display:block; padding-left:17px; background-position:0 -115px;}
.vc-top .top-r a.cart{ display:block; padding-left:17px; background-position:0 -318px;}
.vc-top .top-r .down{ cursor:pointer; position:relative; display:block; z-index:1; float:left; font:500 12px/30px SimSun; color:#b6fff3;  padding:0 22px 0 10px; margin:0 5px; background-position:60px -148px; transition:background 200ms; -webkit-transition:background 200ms; -moz-transition:background 200ms; -o-transition:background 200ms}
.vc-top .top-r .down:hover{text-decoration:none; color:#336666; background:#fff url(../images/top_all.png)  no-repeat 60px -179px}
.vc-top .top-r .down ul{ position:absolute; top:30px; left: -1px; width: 80px; background:#fff; height:auto; overflow:hidden; zoom:1; border: 1px solid #378a7c; border-top: none;}
.vc-top .top-r .down ul li{ float:left; width:80px; height:26px;}
.vc-top .top-r .down ul li a{ display:block; width:65px; height:26px; padding:0 5px 0 10px; margin:0; font:500 12px/26px SimSun; color:#7a7a7a;}
.vc-top .top-r .down ul li a:hover{ text-decoration:none; color:#fff; background:#366}

.vc-serach{ height:90px; background:#338174;}
.vc-serachbar{ margin-left:155px; padding:24px 0 0;}
.vc-serachbar-t .txt{ width:460px; height:14px; padding:8px 5px; font:500 12px/14px SimSun; color:#666;text-shadow:0 0 2px #ccc; background:#fff;}
.vc-serachbar-t .btn{ width:70px; height:30px; background-position:0 -273px}
.vc-serachbar-t .btn:hover{ box-shadow:0 0 2px #fff;}
.vc-serachbar p{ height:24px; font:500 12px/24px SimSun; color:#f60;}
.vc-serachbar p a{ margin-left:10px; color:#fff;}
.vc-serachbar p a:hover{ text-shadow:0 0 3px #000; text-decoration:none;} 
.vc-serach .qr{ position:relative; padding-top:10px;}
.vc-serach .qr .close{ position:absolute; right:0; top:10px; width:16px; height:16px; cursor:pointer;}

.vc-nav{ height:35px; background:#174949;}
.vc-nav .category{ position:relative; width:140px; height:35px; z-index:1; margin-right:35px; font:700 16px/35px "Microsoft YaHei"; color:#fff; text-align:center; background:#85ba46; cursor:pointer; box-shadow:0 0 3px #0f2e2e; -moz-box-shadow:0 0 3px #0f2e2e;}
.vc-nav .category-main{ position:absolute; left:0; top:35px; width:140px; height:102px; padding:11px 0; background:#fff;}
.vc-nav .category-main a{ display:block; height:34px; padding-left:10px; font:500 16px/34px "Microsoft YaHei"; color:#777; background:url(../images/nav_all.png) no-repeat;transition:background 200ms; -moz-transition:background 200ms;}
.vc-nav .category-main a.a{ background-position:15px 5px;}
.vc-nav .category-main a.a:hover{ background-position:15px -47px; text-decoration:none; color:#589b07; font-weight:700;}
.vc-nav .category-main a.b{ background-position:15px -103px;}
.vc-nav .category-main a.b:hover{ background-position:15px -148px; text-decoration:none; color:#589b07; font-weight:700;}
.vc-nav .category-main a.c{ background-position:15px -191px;}
.vc-nav .category-main a.c:hover{ background-position:15px -235px; text-decoration:none; color:#589b07; font-weight:700;}
.vc-nav .menu li{ float:left; margin-right:5px;}
.vc-nav .menu li a{ float:left; width:180px; height:35px; font:500 16px/34px "Microsoft YaHei"; color:#fff; text-align:center;transition:background 200ms; -moz-transition:background 200ms;}
.vc-nav .menu li a:hover{ color:#fff; background:#0f2e2e; text-decoration:none;}


.vc-slide{ position: relative;width: 100%; height:350px; margin: 0; padding: 0;}
.vc-slide .slides li{display: none; width:100%; height:350px; position: relative;}
.vc-slide .slides li a{ display:block; width:1200px; height:350px; background:none; margin:0 auto;}
.flex-control-nav{ position:absolute; bottom:10px; left:49%;}
.flex-control-nav li{ float:left; margin:0 4px;}
.flex-control-nav li a{ cursor:pointer; float:left; width:10px; height:10px; background:#fff; border-radius:10px; -moz-border-radius:10px; text-indent:-9999px; opacity:0.5; -moz-opacity:0.5}
.flex-control-nav li a.active{ opacity:1; -moz-opacity:1;}

.vc-notice{ width:1198px; height:32px; overflow:hidden; margin:0 auto; border:1px solid #cfcfcf;}
.vc-notice dd{ float:left; width:207px; height:32px; margin-left:30px; overflow:hidden;}
.vc-notice dd p a{ font:500 12px/32px SimSun; color:#626262;}
.vc-notice dd p strong{ margin-right:5px;}
.vc-notice dd p strong a{  color:#559c1c;}
.vc-notice dd p strong.blue a{ color:#0b70cc;}
.vc-notice dd p a:hover{ text-shadow:0 0 1px #999;}

.vc-schedule{ height:140px;}
.vc-schedule h3{ width:140px; height:140px; font:700 18px/140px "Microsoft YaHei"; vertical-align:middle; color:#fff; text-align:center; background:#174949;}
.vc-schedule-r{ width:1057px; height:138px; overflow:hidden; background:#fff; padding-left:2px; border:1px solid #c7c7c7; border-left:none;}
.vc-schedule-r dd{ float:left; width:135px; padding:12px 0 0; margin:0 13px 0 26px;}
.vc-schedule-r dd img{ width:135px;}
.vc-schedule-r dd img:hover{ box-shadow:1px 1px 5px #666;}
.vc-schedule-r dd p{ height:18px; width:135px; overflow:hidden; font:500 12px/18px SimSun; color:#666;}
.vc-schedule-r dd p a{font:500 12px/18px SimSun; color:#666;}
.vc-schedule-r dd p a:hover{ color:#f60}

.vc-cont{ height:510px; margin:0 0 20px;}
.vc-cont-l{ position:relative; width:140px; height:510px;}
.vc-cont-l dl{ padding:10px 0 0;}
.vc-cont-l dl dd{ height:auto; overflow:hidden;}
.vc-cont-l dl dd li{ float:left; width:140px; height:30px;}
.vc-cont-l dl dd li a{ display:block; height:30px; font:500 14px/30px "Microsoft YaHei"; color:#fff; text-align:center; transition:all 200ms; -moz-transition:all 200ms;}
.vc-cont-l-a{ background:url(../images/cont_l_a.jpg) no-repeat bottom;}
.vc-cont-l-a dl dd li a:hover{ color:#fff47f; background:#4f8719; text-decoration:none;}
.vc-cont-l-a h3{ height:48px; font:700 18px/48px "Microsoft YaHei"; color:#fff; text-align:center; background:#174949;}
.vc-cont-l-b{ background:url(../images/cont_l_b.jpg) no-repeat bottom;}
.vc-cont-l-b dl dd li a:hover{ color:#fff47f; background:#ce500b; text-decoration:none;}
.vc-cont-l-b h3{ height:48px; font:700 18px/48px "Microsoft YaHei"; color:#fff; text-align:center; background:#8d0e0e;}
.vc-cont-l-c{ background:url(../images/cont_l_c.jpg) no-repeat bottom;}
.vc-cont-l-c dl dd li a:hover{ color:#fff47f; background:#ab285c; text-decoration:none;}
.vc-cont-l-c h3{ height:48px; font:700 18px/48px "Microsoft YaHei"; color:#fff; text-align:center; background:#6f2248;}
.vc-cont-l .more-a{ position:absolute; display:block; width:100px; height:28px; left:12px; bottom:2px; font:500 12px/28px SimSun; color:#fff; background:url(../images/other_ico.png) no-repeat 30px 8px; transition:all 200ms; -moz-transition:all 200ms}
.vc-cont-l .more-a:hover{ text-decoration:none; background-position:35px 8px;}

.vc-cont-r{ width:1059px; height:509px; overflow:hidden; border:1px solid #c7c7c7; border-left:none; border-top:none;}
.vc-cont-r .title-a{ height:48px; background:url(../images/title_a.png) repeat-x;}
.vc-cont-r .title-a a{ float:left; width:160px; height:48px; font:500 18px/48px "Microsoft YaHei"; color:#666; text-align:center;}
.vc-cont-r .title-a a.first{ width:150px;}
.vc-cont-r-a .title-a a.on, .vc-cont-r-a .title-a a:hover{ font-weight:700; color:#010101; background:url(../images/title_g.jpg) no-repeat right; text-decoration:none;}
.vc-cont-r-b .title-a a.on, .vc-cont-r-b .title-a a:hover{ font-weight:700; color:#010101; background:url(../images/title_r.jpg) no-repeat right; text-decoration:none;}
.vc-cont-r-c .title-a a.on, .vc-cont-r-c .title-a a:hover{ font-weight:700; color:#010101; background:url(../images/title_p.jpg) no-repeat right; text-decoration:none;}
.vc-cont-r-main{ padding:25px 0 0 15px;}
.vc-cont-r-main dd.a{ float:left; width:220px; height:auto; overflow:hidden; zoom:1; margin:0 18px 20px;}
.vc-cont-r-main dd.b{width:476px;}
.vc-cont-r-main dd.c{height:415px;}
.vc-cont-r-main dd.d{ width:476px; height:415px;}
.vc-cont-r-main dd.a .img-box{ position:relative; width:220px; height:140px; overflow:hidden;}
.vc-cont-r-main dd.a .img-box:hover{ box-shadow:1px 1px 5px #666;}
.vc-cont-r-main dd.a .img-box .bbg{ position:absolute; bottom:0; left:0; width:220px; height:24px; background:#000; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50);}
.vc-cont-r-main dd.a .img-box h4{ position:absolute; bottom:0; left:0; width:200px; height:24px; padding:0 10px; overflow:hidden; }
.vc-cont-r-main dd.b .img-box{ width:476px;;}
.vc-cont-r-main dd.b .img-box .bbg{ width:476px;}
.vc-cont-r-main dd.b .img-box h4{ width:476px;}
.vc-cont-r-main dd.c .img-box{height:360px;}
.vc-cont-r-main dd.d .img-box{width:476px; height:359px;}
.vc-cont-r-main dd.d .img-box .bbg{ width:476px;}
.vc-cont-r-main dd.d .img-box h4{ width:476px;}
.vc-cont-r-main dd .img-box h4 a{font:500 12px/24px SimSun; color:#fff;}
.vc-cont-r-main dd .img-box h4 a:hover{ color:#ff0}
.vc-cont-r-main dd p{ height:32px; font:500 12px/32px SimSun; color:#000;}
.vc-cont-r-main dd p .price{ color:#999; text-decoration:line-through;}
.vc-cont-r-main dd .num-price{ height:24px;}
.vc-cont-r-main dd .num-price-a .reg{ width:60px; height:24px; margin-right:10px; font:500 12px/24px SimSun; color:#fff; text-align:center; background:#2da02b;transition:all 200ms; -moz-transition:all 200ms}
.vc-cont-r-main dd .num-price-a .reg:hover{ text-decoration:none; background:#8d0e0e;}
.vc-cont-r-main dd .num-price-a .num{ display:block; height:24px; padding-left:20px; font:500 12px/24px SimSun; color:#2da02b; background:url(../images/other_ico.png) no-repeat 0 -33px;}
.vc-cont-r-main dd .num-price-b .reg{ width:60px; height:24px; margin-right:10px; font:500 12px/24px SimSun; color:#fff; text-align:center; background:#f60;transition:all 200ms; -moz-transition:all 200ms}
.vc-cont-r-main dd .num-price-b .reg:hover{ text-decoration:none; background:#8d0e0e;}
.vc-cont-r-main dd .num-price-b .num{ display:block; height:24px; padding-left:20px; font:500 12px/24px SimSun; color:#f60; background:url(../images/other_ico.png) no-repeat 0 -72px;}
.vc-cont-r-main dd .num-price-c .reg{ width:60px; height:24px; margin-right:10px; font:500 12px/24px SimSun; color:#fff; text-align:center; background:#007eff; transition:all 200ms; -moz-transition:all 200ms}
.vc-cont-r-main dd .num-price-c .reg:hover{ text-decoration:none; background:#8d0e0e;}
.vc-cont-r-main dd .num-price-c .num{ display:block; height:24px; padding-left:20px; font:500 12px/24px SimSun; color:#999; background:url(../images/other_ico.png) no-repeat 0 -112px;}
.vc-cont-r-main dd .num-price .n-price{ font:700 18px/24px "Microsoft YaHei"; color:#ff5400;}
.vc-cont-r-main dd .num-price .n-price i{ font-size:12px;}

.vc-famous{ width:1198px; height:158px; margin:0 auto; border:1px solid #c7c7c7;}
.vc-famous ul{ width:1198px; height:158px; overflow:hidden;}
.vc-famous-logo{ position:absolute; left:-32px; top:-1px; width:32px; height:61px; z-index:10; background:url(../images/famous_logo.png) no-repeat;}
.vc-famous li{ float:left; width:224px; height:158px; margin:0 15px 0 0;}
.vc-famous li a.pic{ margin-right:10px;}
.vc-famous li img{ width:118px; height:158px;}
.vc-famous li img:hover{ box-shadow:1px 1px 5px #666;}
.vc-famous li .word{ padding:30px 0 0;}
.vc-famous li h3,.vc-famous li h3 a{ font:500 24px/32px "Microsoft YaHei"; color:#4c4c4c;}
.vc-famous li h3 a:hover{ text-decoration:none; color:#f60;}
.vc-famous li h4{ font:700 16px/24px "Microsoft YaHei"; color:#338174;}
.vc-famous li p{ font:500 12px/18px "Microsoft YaHei"; color:#878787;}

.vc-qiuck-nav dd{ float:left; width:295px; margin:0 10px; min-height:95px; border-right:1px solid #dedede;}
.vc-qiuck-nav dd.nd{ width:225px; border:none;}
.vc-qiuck-nav dd h3{ height:36px; margin-bottom:5px; padding-left:55px; font:700 16px/36px "Microsoft YaHei"; color:#4c4c4c; background:url(../images/other_ico.png) no-repeat;}
.vc-qiuck-nav dd h3.a{ background-position:-90px 0;}
.vc-qiuck-nav dd h3.b{ background-position:-90px -84px;}
.vc-qiuck-nav dd h3.c{ background-position:-90px -155px;}
.vc-qiuck-nav dd h3.d{ background-position:-90px -240px;}
.vc-qiuck-nav dd a{ float:left; font:500 12px/30px SimSun; margin-right:15px; color:#9c9c9c; white-space:nowrap; transition:all 200ms; -moz-transition:all 200ms}
.vc-qiuck-nav dd a:hover{ color:#f00; text-shadow:0 0 1px #f60}

.vc-link{ padding:20px 0 35px; background:#338174;}
.vc-link h3{ font:500 12px/30px SimSun; color:#fff;}
.vc-link-main{ margin-left:-10px;}
.vc-link a{ float:left; width:153px; height:58px; margin:0 0 10px 10px; white-space:nowrap;}
.vc-link a img{ width:153px; height:58px;}
.vc-link a img:hover{ box-shadow:1px 1px 5px #333;}
 
.vc-foot .link{ height:33px; font:500 12px/32px SimSun; color:#fff; text-align:center;  background:url(../images/link_bg.png) repeat-x;}
.vc-foot .link a{ margin:0 5px; font:500 12px/32px SimSun; color:#fff;}
.vc-foot .link a:hover{ text-shadow:0 0 3px #000; text-decoration:none;} 
.vc-foot{padding-bottom:30px;}
.vc-foot .copyright{ width:980px; margin:0 auto;}
.vc-foot .copyright p{ font:500 12px/30px SimSun; color:#9c9c9c;}
.vc-foot .copyright p.a{ font:500 12px/30px SimSun; color:#393939;}

.vc-get-top{ position:fixed; right:20%; bottom:300px; width:40px; z-index:100;}
.vc-get-top .t{ width:40px; height:10px; background: url(../images/top_bg.png) no-repeat top;}
.vc-get-top .m{ padding:5px 0; height:auto; overflow:hidden; zoom:1; background:#338174;}
.vc-get-top .m a{ display:block; text-align:center; font:500 12px/24px SimSun; color:#fff; transition:all 200ms; -moz-transition:all 200ms}
.vc-get-top .m a:hover{ text-decoration:none; background:#f60; color:#fff;}
.vc-get-top .b{ display:block; width:40px; height:40px; background:url(../images/top_ico.png) no-repeat;}



/*xiao miao*/
b{font-weight: normal;}
.cblack{color:#3d3d3d;}
.cwhite{color:#fff;}
.bgwhite{padding-top: 10px;background:#fff;}
.bgbody{background:#338174;}
.cred{color:#ff0000;}
.cgray1{color: #9f9f9f;}
.cgray{color:#a0a0a0;}
.cgreen{color:#338174;}
.bolder{font-weight: bolder;}
.f14{font-size:14px;}
.padding-left10{padding-left:10px;line-height:25px;}
.padding-left20{padding-left:20px;}
.padding-left{padding-left:20%;}
.padding-left80{padding-left:80px;}
.width100{width:100%;}
.overflow{overflow: hidden;}
.space40 {height: 40px;overflow: hidden;content: "";display: block;clear: both;visibility: hidden;}
.bdnone{background: none;border: none;}
.x-strong{color: #dd0d6a;font-weight: bolder;font-size: 20px;}
.x-p{text-indent: 64px;line-height: 25px;font-size: 14px;color: #5a5a5a;}
.x-pa{ text-indent:0; text-align:left;}
.input-shadow{border: 1px solid #d0d0d0;-webkit-box-shadow: 1px 1px 1px #999 inset;-moz-box-shadow: 1px 1px 1px #999 inset;box-shadow: 1px 1px 1px #999 inset;}
.x-loginBox .login-form{width:350px;height:380px;background:#338174;}
.x-loginBox .login-form  .login{padding: 25px 30px;}
.x-loginBox .login-form  .login .hd{width: 100%;}
.x-loginBox .login-form .login .error{line-height: 28px;color:#fff600;}
.x-loginBox .login-form  .login .item{margin-bottom: 5px;height: 29px;padding-left: 33px;border: 1px solid #d7d7d7;}
.x-loginBox .login-form  .login .user_name{background: #fff url(../images/icons.png) no-repeat 0 5px;}
.x-loginBox .login-form  .login .user_passwprd{background: #fff url(../images/icons.png) no-repeat -36px 6px;}
.login label {background: #ccc url(../images/icons.png) no-repeat;}
.txtUsername, .txtPassword {width: 244px;height: 9px;padding: 10px 4px 10px 8px;background: #FFF;font-size: 14px;color: #b0b0b0;border: 0px;outline: none;line-height: 18px;}
.white{color:#fff;}
.x-loginBox .login .white .checkbox{vertical-align: middle;}
.login .login-btn2014 {height: 52px;}
.login .login-btn2014 .btn-img{width: 295px;height: 44px;line-height: 100px;text-indent: -9999px;background: url(../images/dl_button.jpg) no-repeat;overflow: hidden;cursor: pointer;}
.friend_link{height: 20px;line-height: 20px;font-size: 12px;}
.icon{display: block;width: 20px;height: 20px;cursor: pointer;background: url(../images/icons.png) no-repeat;}
.qq{background-position: -1px -25px;}
.sina{background-position: -21px -25px; }
.renren{background-position:-45px -25px; }
.baidu{background-position:-69px -25px; }
.alipay{background-position:-96px -25px; }
.x-service .help{display: inline;float: left;margin-right: -1px;width: 25%;}
.x-service .help .help-wrap li{*+width:74px;float: left;display: inline-block;line-height: 24px;vertical-align: middle;zoom: 1;margin-right: 10px;}
.x-service .help .help-wrap li a {color: #9c9c9c; white-space:nowrap; transition:all 200ms; -moz-transition:all 200ms}
.x-service .help .help-wrap li a:hover{ color:#f00; text-shadow:0 0 1px #f60}
.x-service .help .help-wrap h4 {height: 55px;}
.x-service .help .help-wrap h4 strong {position: absolute;left: 61px;top: 20px;color:#4c4c4c;font-family:  Microsoft YaHei;font-size:16px;font-weight:bold;}
.x-service .help .help-wrap .iconfont{position: absolute;top: 10px;left: 10px;width: 35px;height: 40px;cursor: pointer;}
.x-safe{background: url(../images/icons-b.png) no-repeat -1px -1px;}
.x-kefu{background: url(../images/icons-b.png) no-repeat -1px -50px;}
.x-my-vc{background: url(../images/icons-b.png) no-repeat -1px -98px;}
.x-quan{background: url(../images/icons-b.png) no-repeat -1px -146px;}

.vc-w980 .re-logo{width:300px;}
.vc-w980 .else1{padding-top: 42px;}
.x-register{width:980px;}
.regist{border-bottom:2px solid #378a7c;border-left:2px solid #378a7c;border-right:2px solid #378a7c;border-top:none;}
.x-register .register-tab{width: 976px;}
.x-register .register-tab .tab{width:100%;height:39px;background: url(../images/bg02.png) repeat-x;}
.x-register .register-tab .tab li {float:left;border: 2px solid #338174;width:159px;height:36px;line-height: 40px;text-align:center;}
.x-register .register-tab .tab li.curr{height: 37px;margin-right: 7px;border-bottom: none;}
.x-register .register-tab .tab li.curr a{font-weight:600;color:#338174;}
.x-register .register-tab .tab li{float: right;width: 159px;height: 35px;background: url(../images/but_on.jpg) no-repeat;}
.x-register .register-tab .tab li.bdnone{padding-right: 20px;background:none;border:none;}
.x-register .register-tab .tab li a.a{color:#fff;}
.x-register .register-tab .tab li.on a.a{height:37px;background: #fff;color:#338174;}
.x-register .register-tab .tab li.on a.b{background: #fff;color: #338174;}
#x-tab li .on{background: url(../images/but_on1.jpg) no-repeat;}
.regist-form .x-text {float:left; width: 272px;padding: 5px 6px;height: 20px;line-height: 20px;color: #666;border: 1px solid #d0d0d0;-webkit-box-shadow: 1px 1px 1px #999 inset;
-mo-box-shadow: 1px 1px 1px #999 inset;box-shadow: 1px 1px 1px #999 inset;}
.x-register .register-tab .tab li a{display: block;width:159px;height:40px;font-family:  Microsoft YaHei;font-size:18px;font-weight: 600;color:#fff;text-decoration: none;}
.x-register .register-tab .tab .bdnone a{display: inline;font-size:12px;font-weight: 600;color:#338174;text-decoration: none;}
.regist-form {padding: 31px 0 70px 0;}
.regist-form1 {width: 464px;padding: 31px 0 70px 0;}
.regist .regist-form .x-text{width: 272px;padding: 5px 6px;height: 20px;line-height: 20px;color: #666;border: 1px solid #d0d0d0;-webkit-box-shadow: 1px 1px 1px #999 inset;-moz-box-shadow: 1px 1px 1px #999 inset;box-shadow: 1px 1px 1px #999 inset;}
.regist-form .e-text1{position: relative;width:399px;height: 60px;}
.regist-form .e-text1 img{position: absolute;right: 7px;top: 36px;}
.regist-form .error{margin-left: 132px;line-height: 28px;color: #ff0000;}
.regist-form .error1{margin-left: 132px;line-height: 28px;color: #9f9f9f;}
.regist-form .label {float: left;width: 100px;line-height: 33px;text-align: right;font-size: 14px;color: #3d3d3d;padding-right: 10px;}
.regist-form  .red{margin-right: 5px;font-weight: normal;color: #ff0000;}
.regist-form .Code1 {width: 130px;float: left;}
.regist .regist-form .Code1{width: 130px;float: left;}
.regist .regist-form .Code3{width: 120px;float: left;}
.regist .regist-form .Code4{width: 253px;float: right;}
.regist .regist-form .Code7{width: 592px;}
.regist .regist-form .Code6{width: 445px;}
.regist-form .Code5 {position: absolute;top: 23px;right: 100px;width: 48%;}
.regist-form .Code5 .select1{padding:5px;width:90px;height:34px;line-height:34px;}
.regist-form .Code5 .select2{padding:5px;width:115px;height:36px;}
.regist-form .e-text1 img.right2{right: 157px;}
.regist-form .e-text1 img.img{position: absolute;right: 58px;top: 29px;cursor: pointer;}
.regist-form  span.Code{display:block;width:100px;height:37px;text-align:center;line-height:32px;background:#338174;}
.regist-form  span.Code a{color:#fff;text-decoration:none;}
.e-text1 .blue{color:#338174;}

.Code1text{display: block;text-align: center;width: 51px;height: 35px;line-height: 35px;color:#3d3d3d;}
.x-register .regist .q-userfor input.Code{width: 170px;height:25px;padding: 5px 15px;float: left;}
.x-register .regist .q-userfor .warn{float:right;padding-left: 37px;width:297px;height:30px;line-height:30px;}
.x-register .regist .q-userfor label{float: left; width: 137px;height: 35px;line-height: 35px;font-size:14px;text-align: right;}
.register-mail .q-userfor dd{width:460px;}
.register-mail   .q-userfor label{float: left; width: 137px;height: 35px;line-height: 35px;font-size:14px;text-align: right;}
.register-mail  .q-userfor .warn{float:right;padding-left: 37px;width:297px;height:30px;line-height:30px;}
.register-mail .q-userfor input.x-text{float:right;width:285px;height:25px;padding:5px 15px;border: 1px solid #d0d0d0;-webkit-box-shadow: 1px 1px 1px #999 inset;-moz-box-shadow: 1px 1px 1px #999 inset;box-shadow: 1px 1px 1px #999 inset;}
.register-mail .q-userfor .arrow-right{display: block;position: absolute;right: 5px;top: 41px;width:20px;height:18px;background: url(../images/re_right.png) no-repeat center right;}
.x-register .regist .q-userfor dd{float:left;margin-bottom:8px;width:464px;line-height:20px;}
.x-register .regist .q-userfor dd.width100{width:64%;}
.padding30{padding: 30px 0 0 0;}
.x-register .regist .q-userfor .margin-top30{margin-top: -30px;}
.x-register .regist .q-userfor input.x-text{float:right;width:285px;height:25px;padding:5px 15px;border: 1px solid #d0d0d0;-webkit-box-shadow: 1px 1px 1px #999 inset;-moz-box-shadow: 1px 1px 1px #999 inset;box-shadow: 1px 1px 1px #999 inset;}
.x-register .regist .q-userfor .Code1{height: 25px;padding: 5px 15px;width:120px;float:left;}
.x-register .regist .q-userfor .Code2{height: 35px;float: left;}
.x-register .regist .q-userfor .arrow-right{display: block;position: absolute;right: 5px;top: 41px;width:20px;height:18px;background: url(../images/re_right.png) no-repeat center right;}
.p-proceess{background: url(../images/load.jpg) no-repeat center right;}
.q-userfor .p-proceess .width85{width: 86px;}
.q-userfor .p-proceess .tsl{display: block;float: left;width: 23%;height: 29px;line-height: 29px;text-align: center;color: #fff;}
.btn-regist{width: 289px;height: 40px;color:#fff;font-family:Microsoft YaHei;font-size:18px;font-weight:700; background: url(../images/regin_bn.png) no-repeat;cursor: pointer;}
.btn-regist:hover{width: 289px;height: 40px;background: url(../images/regin_hover.png) no-repeat;}
.x-register .regist .q-user{padding:30px 20px;}
.x-register .regist .q-user .titlea {line-height: 25px;}
.x-register .regist .q-user .titlea .x-bold{font-weight:bold;color:#338174;}
.x-register .regist .q-user .titlea{color:#717171;}
.x-register .regist .x-nav{height:32px;background:#ebebeb;color:#717171;}
.x-register .regist .x-nav .titleb{margin-left: 20px;padding-right:40%;line-height:32px;}

.register-mail .findBox1 {padding: 4% 30%;height: 325px;}
.color-green{color:#009844;text-decoration:underline;}
.register-mail{width:100%;height: auto;border: 2px solid #338174;box-shadow: 1px 2px 2px #C5B8B8;-webkit-box-shadow:1px 2px 2px #C5B8B8;-moz-box-shadow:1px 2px 2px #C5B8B8;}
.register-mail .xsteps {margin:20px 50px;width: 870px;height: 30px;background: url(../images/steps.png) no-repeat 0 0;}
.register-mail .position37{background-position: 0 -37px;}
.register-mail .xsteps .color3{color:#a5a5a5;}
.register-mail .xsteps li {display: inline;float: left;width: 33%;height: 35px;line-height: 28px;text-align:center;font-size: 14px;font-weight: bold;color: #fff;}
.register-mail .email-a{padding:25px 0 140px 0;}
.register-mail .email-a .success{font-weight: bold;color: #dd0d6a;font-family: Microsoft YaHei;font-size: 14px;}
.register-mail .email-a p{line-height:25px;font-size:14px;color:#5a5a5a;}
.register-mail .email-a strong{font-weight:bolder;font-size:20px;}
.register-mail .email-a .again-send{padding: 10px;text-decoration: none;color: white;width: 91px;height: 13px;line-height: 13px;background: #338174;}
.register-mail .email-a .again-send:hover{background:#207063;}
.register-mail .email-a .hover a:hover{background:#207063;}
.register-mail .email-a .again-send1{display: inline-block;margin: 0 20px;width:106px;height:35px;line-height: 35px;font-weight:bold;background:#338174;}
.register-mail .email-a .again-send a{display: block;color:#fff;}
.register-mail .email-a .again-send1 a{text-decoration: none;display: block;color:#fff;}
.register-mail .email-a .dl-email{padding-left:40%;*+padding-left: 0;}
.register-mail .email-a .dl-email a{display:block;width:202px;height:38px;line-height:38px;color:#fff;font-family:Microsoft YaHei;font-size:20px;font-weight:600;background: url(../images/regin_bn.png) no-repeat;}
.register-mail .email-a .dl-email a:hover{text-decoration: none;background:#207063;}

.puctic-but{display:block;width:86px;height:35px;line-height:35px;background:#338174;cursor:pointer;}
.puctic-but a{display:block;}
.puctic-but a:hover{display:block;text-decoration: none;background:#207063;}
.puctic-but2{display:block;width:86px;height:35px;line-height:35px;background:#a0a0a0;cursor: default;}
.puctic-but2 a{text-decoration:none;cursor: default;}
 .puctic-but1{padding: 10px;width:120px;height:35px;line-height:35px;background:#338174;cursor:pointer;}
.puctic-but1:hover{text-decoration: none;background:#207063;}
.vc-w980  .findpw-logo{width:300px;}
.register-mail .findBox2{padding: 20px 7%;padding-bottom: 100px;}
.register-mail .findBox2 .box1{margin:0 auto;width:600px;height:70px;border:2px solid #338174;}
.register-mail .findBox2 .box1 .box-content{padding:19px 25px;}
.register-mail .findBox2 .box1 .box-content .icon{margin-top: -5px;background: url(../images/pw_steps.png) no-repeat;}
.register-mail .findBox2 .box1 .box-content .box-icon{width: 27px;height: 46px;background-position:0 -197px;}
.register-mail .findBox2 .box1 .box-content .box-icona{width: 27px;height: 46px;background-position:0 -258px;}
.register-mail .findBox2 .box1 .box-content .box-iconb1{margin-top: 6px;width: 40px;height: 28px;background-position:-60px -197px;}
.register-mail .findBox2 .box1 .box-content .box-iconb2{margin-top: 6px;width: 40px;height: 28px;background-position:-60px -262px;}
.register-mail .findBox2 .box1 .box-content .box-iconc1{margin-top: 6px;width: 40px;height: 35px;background-position:-127px -197px;}
.register-mail .findBox2 .box1 .box-content .box-iconc2{margin-top: 6px;width: 40px;height: 35px;background-position:-127px -259px;}
.register-mail .findBox2 .box1 .box-content .title1{width: 400px;float: left;line-height: 18px;padding-left: 20px;}
.register-mail .pw-steps {margin:20px 50px;width: 870px;height: 30px;background: url(../images/pw_steps.png) no-repeat 0 0;}
.register-mail .position2{background-position: 0 -49px;}
.register-mail .position6{background-position: 0 -98px;}
.register-mail .position7{background-position: 0 -141px;}
.register-mail .pw-steps .color3{color:#a5a5a5;}
.register-mail .pw-steps li {display: inline;float: left;width: 24%;height: 35px;line-height: 28px;text-align:center;font-size: 14px;font-weight: bold;color: #fff;}
.register-mail .regist-form .next{top:206px;position: absolute;right: 43%;}
.register-mail .regist-form .next2{top:250px;}
.register-mail .regist-form .next1{top:177px;}
.register-mail .findBox6{height: 350px;padding: 4% 26%;}
.register-mail .findBox6 .width120{width:120px;}
.register-mail .findBox6 .width263{width:253px;}
.register-mail .findBox6 .width156{width:156px;}
.register-mail .findBox6 .width227{width:227px;}
.register-mail .find5{height:300px;}
.register-mail .find5 .width308{width:308px;}
.register-mail .find5 .a{width: 500px;margin: 0 auto;}
.register-mail .find5 label{text-align: right;padding-top: 10px;float:left;width:140px;font-size:14px;color:#3d3d3d;}
.register-mail .find5 input,.register-mail .find5 select {float:right;height: 30px;width: 320px;font-size: 12px;color: #000;}
.register-mail .find5 .accept-email{padding: 10px;margin: 5% auto;width:297px;height:145px;line-height: 30px;border:1px solid #C9C7C7;}

.x-footer{width: 100%;background: #338174;}
.x-footer .copyright .white {font: 500 12px/30px SimSun;color: #fff;}
.x-footer .copyright .b{ font:500 12px/30px SimSun; color:#014439;}





























